{% extends 'base.html' %}
{%  load static %}
{% block title %} eBook - Karta kredytowa {% endblock %}
{% block menu %}
    {% include 'layout/_panelClient.html' %}
{% endblock %}
{% block page %}
<div class="col-md-7">
        <article>
            <div class="col-md-offset-3">
                <div class="panel panel-default form">
                    <div class="panel-body">
                        <div class="col-md-offset-4 logo-payment">
                            <img src="{% static 'eBook/img/VisaMastercardLOGO.jpg' %}" alt="logo" width="50%" height="50%">
                        </div>
                        <form method="post" action="{% url 'credit_card' %}">{% csrf_token %}
                            {% for item in form %}
                                <div class="row offest-input">
                                {% if item.id_for_label == "id_ccv_number" %}
                                    <div class="form-group col-md-offset-3 col-md-5 ">
                                {% elif not item.errors %}
                                    <div class="form-group">

                                {% else %}
                                    <div class="form-group has-error">
                                {% endif %}
                            <label for="{{ item.id_for_label }}">{{ item.label }}:</label>
                            {{ item }}
                            {{ item.errors }}
                            </div>
                                </div>
                            {% endfor %}
                            <div class="clear">
                                <a href="{% url 'step2' %}" class="btn btn-primary">Wstecz</a>
                                <input type="submit" value="Przejdź do kroku 3" class="col-md-offset-4 btn btn-success"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
{%  endblock %}