{% extends 'base.html' %}
{% block title %} eBook - krok 3 - Potwierdzenie  {% endblock %}
{% block menu %}
    {% include 'layout/_panelClient.html' %}
{% endblock %}
{% block page %}
    <div class="col-md-7">
        {% include 'messages.html' %}
        <article class="cart">
            <h2>Krok 3 - Potwierdzenie</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th class="text-right">Cena</th>
                    <th class="text-right">Wartość</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td class="text-left">{{ item.product.title }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-right">{{ item.price }} zł</td>
                        <td class="text-right">{{ item.subtotal }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>

                <tr>
                    <td colspan="3" class="text-right">Razem:</td>
                    <td class="text-right">
                        {{ cart.total }} zł
                    </td>
                </tr>


                </tfoot>
            </table>
            <table class="table">
                <tr>
                    <td class="text-right">Forma przesyłki:</td>
                    <td colspan="2" class="text-right">
                        {{ post.name }}
                    </td>
                    <td class="text-right">

                    </td>
                </tr>
                <tr>
                    <td class="text-right">Forma płatności:</td>
                    <td colspan="2" class="text-right">
                        {{ payment.name }}
                    </td>
                    <td class="text-right" id="price_post">
                        {{ price }} zł
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right">Suma:</td>
                    <td class="text-right" id="total">
                        {{ total }} zł
                    </td>
                </tr>
            </table>
            <div class="col-md-offset-2 col-md-9 accept">
                <table>
                    <tr>
                        <td class="label-details">Imię i Nazwisko:</td>
                        <td>
                            {{ user.first_name }} {{ user.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">e-mail:</td>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">telefon</td>
                        <td>
                            {% if user.phone == None or not user.phone %}
                                brak
                            {% else %}
                                {{ user.phone }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Adres zamieszkania:</td>
                        <td>
                            {% if user.address == None or not user.address %}
                                brak
                            {% else %}
                                {{ user.address }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Miasto:</td>
                        <td>
                            {% if user.city == None or not user.city %}
                                brak
                            {% else %}
                                {{ user.city }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Poczta:</td>
                        <td>
                            {% if user.zip_code == None or not user.zip_code %}
                                brak
                            {% else %}
                                {{ user.zip_code }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <form class="step2" method="post" action="{% url 'step_accept' %}">{% csrf_token %}

                <a href="{% url 'step2' %}" class="btn btn-primary">Wstecz</a>
                <input type="submit" value="Zatwierdź zamówienie" class="col-md-offset-4 btn btn-success"/>
            </form>

        </article>
    </div>
{% endblock %}