{% extends 'base.html' %}
{% block title %} eBook - krok 2 - Wybór płatności {% endblock %}
{%  block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var data = ({{ price|safe }});
            $("#payment_id, #post_id").change(function () {
                var pay = $("#payment_id").find("option:selected").attr('selected', true).val();
                var post = $("#post_id").find("option:selected").attr('selected', true).val();
                $.each(data, function(i, item) {
                    if(pay == item.payment_id && post == item.posttype_id){

                        $("#price_post").text(item.price+" zł");
                        var price = (parseFloat(item.price)+({{ cart.total|safe }}));
                        $("#total").text(price + "zł");

                    }
                })
            });

        })
    </script>
{%  endblock %}
{% block menu %}
    {% include 'layout/_panelClient.html' %}
{% endblock %}
{% block page %}

    <div class="col-md-7">
        {% include 'messages.html' %}
        <article class="cart">
            <h2>Krok 2 - Wybór płatności</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th class="text-right">Cena</th>
                    <th class="text-right">Wartość</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td class="text-left">{{ item.product.title }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-right">{{ item.price }} zł</td>
                        <td class="text-right">{{ item.subtotal }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>

                <tr>
                    <td colspan="3" class="text-right">Razem:</td>
                    <td class="text-right">
                        {{ cart.total }} zł
                    </td>
                </tr>


                </tfoot>
            </table>
            <form class="step2" method="post" action="{% url 'step3' %}">{% csrf_token %}
                <table class="table">
                     <tr>
                        <td class="text-right">Forma przesyłki:</td>
                        <td colspan="2" class="text-right">
                            <select name="payment" id="payment_id">
                                {% for item in payment %}
                                <option value="{{ item.id }}">{{ item.name }}</option>

                                {%  endfor %}
                            </select>
                        </td>
                        <td class="text-right">

                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Forma płatności:</td>
                        <td colspan="2" class="text-right">
                            <select name="post" id="post_id">
                                {% for item in post %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                                {%  endfor %}
                            </select>
                        </td>
                        <td class="text-right" id="price_post">
                            0 zł
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Suma:</td>
                        <td class="text-right" id="total">
                            {{ cart.total }} zł
                        </td>
                    </tr>
                </table>
                <a href="{% url 'step1' %}" class="btn btn-primary">Wstecz</a>
                <input type="submit" value="Przejdź do kroku 3" class="col-md-offset-4 btn btn-success"/>
            </form>

        </article>
    </div>
{% endblock %}