@font-face {
    font-family: thinking;
    src: url('/static/eBook/fonts/Thinking_of_Betty.ttf') format('truetype');
}
body {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow:auto;
    background-color: #795548;
}
.body-container {
    background-color:  white;
    width: 100%;
}

.logo {
    text-align: center;
    font-family: thinking;

}
.logo h1 {
    font-size: 60px;
}
.search {
    text-align: center;
}
.navbar  {
    /*background: #795548;*/
    border-style: double;
    background: beige;
    border-width: medium;
}
.navbar-default .navbar-nav > li > a {
    color: grey;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #efefc8;
    color: #795548;
}
aside {
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.page {
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.cost {
    font-size: large;
}
aside .list-group-item {
    background: beige;
}
aside .list-group-item.active   {
    background: #795548;
}
aside .list-group-item.active:hover   {
    background: #795548;
}
aside .list-group-item.active a {
    color: white;
}
.details h2 {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    margin-bottom: 2%;
}
.details table {
    margin: 3%;
    padding: 2%;
    border-spacing: 1em;
    border-collapse: separate;
}
.label-details {
    font-weight: bold;
    font-size: large;

}
.form {
    margin-bottom: 5%;
}
.profil table {
    margin: 3%;
    padding: 2%;
    border-spacing: 1em;
    border-collapse: separate;
}
.profil h3 {
    text-align: center;
}
footer {
    text-align: center;
    font-size: x-large;
    background: #795548;
    color: white;
    border-top-style: groove;

}
footer > p {
    margin-top: 2%;
}
ul.errorlist {
    color: #d9534f;
    list-style-type: none;
}
.alert {
    text-align: center;
}
.cart h2 {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    margin-bottom: 2%;
}
.btn-cart-block {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 6%;
}
.step2 {
    margin-bottom: 7%;
    margin-top: 3%;
}
.accept {
    margin-bottom: 7%;
    margin-top: 3%;
}
.logo-payment {
    margin-bottom: 4%;
    margin-top: 2%;

}
.offest-input {
    margin-left: 3%;
    margin-right: 3%;
}