{% extends 'base.html' %}
{% block title %} eBook - koszyk{% endblock %}
{% block page %}
    <div class="col-md-7">
        {% include 'messages.html' %}
        <article class="cart">
            <h2>Koszyk</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th class="text-right">Cena</th>
                    <th class="text-right">Wartość</th>
                </tr>
                </thead>
                <tbody>
                {%  for item in cart.items %}
                <tr>
                    <td class="text-left">{{ item.product.title }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td class="text-right">{{ item.price }} zł</td>
                    <td class="text-right">{{ item.subtotal }}</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="{% url 'removeCart' item.product.id  %}">Usuń</a>
                    </td>
                </tr>
                {%  endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Razem:</td>
                    <td class="text-right">
                        {{ cart.total }} zł
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="btn-cart-block">
                <a class="btn btn-success" href="{% url 'step1' %}" >Złóż  zamówienie</a>
            </div>
        </article>
    </div>
{% endblock %}