{% extends 'base.html' %}
{% block title %} eBook - szczegóły{% endblock %}
{% block page %}
    <div class="col-md-7">
        <article class="details">
            <h2>{{ book.title }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ MEDIA_URL }}{{ book.img }}" alt="{{ book.title }}" width="75%" height="75%"/>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td class="label-details">Kategoria:</td>
                            <td>
                                {% with slug=book.category_id.name|slugify %}
                                <a href="{% url 'category' slug %}">{{ book.category_id.name }}</a>
                                {% endwith %}
                            </td>
                        </tr>
                        <tr>
                            <td class="label-details">
                                Autor:
                            </td>
                            <td>

                                {%  for author in book.author.all %}
                                    <a href="{% url 'author' author.slug %}">
                                        {{ author.name }}
                                        {%  if not forloop.last %}, {%  else  %}{%  endif %}
                                    </a>
                                {%  endfor %}

                            </td>
                        </tr>
                        <tr>
                            <td class="label-details">
                                data wydania:
                            </td>
                            <td>
                                {{ book.published }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label-details">Wydawca:</td>

                            <td>
                                 {% with slug=book.publisher_id.name_publisher|slugify %}
                                <a href="{%  url 'publisher' slug %}">{{ book.publisher_id.name_publisher }}</a>
                                {%  endwith  %}
                            </td>
                        </tr>
                        <tr>
                            <td class="label-details">ISBN:</td>
                            <td>{{ book.isbn }}</td>
                        </tr>
                        <tr>
                            <td class="label-details">
                                Cena:
                            </td>
                            <td>
                                {{ book.price }} zł
                            </td>
                        </tr>
                        <tr>
                            <td class="label-details">Ilość:</td>
                            <td>{{ book.quantity }}</td>
                        </tr>
                    </table>
                    <a class="btn btn-success" href="{% url 'addCart' book.id %}">Do Koszyka</a>
                </div>
            </div>
            <hr>

            <div class="description">
                <div class="label-details text-center">Opis</div>
                <p>
                    {{ book.descriptions | safe }}
                </p>
            </div>
        </article>
    </div>
{% endblock %}