<ul class="list-group">
    {% for item, quatity in menu %}
    <li class="list-group-item">
        {% with slug=item|slugify %}
        <a href="{%  url 'category' slug %}">{{ item }}</a>
        {%  endwith %}
        <span class="badge">{{ quatity }}</span>
    </li>
    {%  endfor %}

</ul>