{% extends 'base.html' %}
{% block title %} eBook - Strona Główna{% endblock %}

{% block page %}
    <div class="col-md-7">
        {%  include 'messages.html' %}
        {% for book in books %}
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ book.title }} -
                        {%  for author in book.author.all %}
                            {{ author.name }}
                            {%  if not forloop.last %}, {%  else  %}{%  endif %}
                        {% endfor %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ MEDIA_URL }}{{ book.img }}" alt="{{ book.title }}" width="60%" height="60%"/>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {{ book.descriptions | safe | truncatechars:200 }}
                                </p>
                                <div class="cost">
                                    <span>Cena:</span>{{ book.price }} zł
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="{% url 'details' book.id %}" class="btn btn-primary">Szczegóły</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{% url 'addCart' book.id %}" class="btn btn-success">Do koszyka</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

    {% include 'pagination.html' %}
    </div>
{% endblock %}

