{% extends 'base.html' %}
{% block title %} eBook - Zmiana hasła {% endblock %}
{% block menu %}
    {% include 'layout/_panelClient.html' %}
{% endblock %}
{% block page %}
    <div class="col-md-7">
        <article>
            <div class="col-md-offset-3">
                <div class="panel panel-default form">
                    <div class="panel-body">
                        <form method="post" action="{% url 'changePassword' %}">{% csrf_token %}
                            {% for item in form %}
                                {% if not item.errors %}
                                    <div class="form-group">
                                {% else %}
                                    <div class="form-group has-error">
                                {% endif %}
                            <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                            {{ item }}
                            {{ item.errors }}

                            </div>
                            {% endfor %}


                            <input type="submit" value="Zmień Hasło" class="col-md-offset-4 btn btn-success"/>
                        </form>
                    </div>
                </div>
            </div>

        </article>
        {% include 'messages.html' %}
    </div>

{% endblock %}