{%  extends 'base.html' %}
{%  block title %} eBook - Lista zamówień {%  endblock %}
{%  block menu %}
    {%  include 'layout/_panelClient.html' %}
{%  endblock %}
{% block page %}
    <div class="col-md-7">
        <article>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Numer zamówienia</th>
                        <th>Data</th>
                        <th>Forma przesyłki</th>
                        <th>Status</th>
                        <th>koszt</th>
                        <th>Szczegóły, Faktura</th>
                    </tr>
                </thead>
                <tbody >
                {%  for order in orders %}
                    <tr>
{#                        <td>{{ order.invoice_number }}</td>#}
{#                        <td>{{ order.date }}</td>#}
{#                        <td>{{ order.payment.name }}</td>#}
{#                        <td>{{ order.status}}</td>#}
{#                        <td>{{ order.total }} zł</td>#}
{##}
{#                        <td>#}
{#                            <a href="{% url 'pdf' order.id %}" class="btn-sm btn-success">pdf</a>#}
{#                        </td>#}
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.payment.description }}</td>
                        <td>{{ order.status.description}}</td>
                        <td>{{ order.total }} zł</td>

                        <td>
                            <a href="{% url 'pdf' order.order_id %}" class="btn-sm btn-success">pdf</a>
                        </td>
                    </tr>

                {%  endfor %}
                </tbody>

            </table>
        </article>
    </div>

{%  endblock %}