{%  extends 'base.html' %}
{%  block title %} eBook - Profil {%  endblock %}
{%  block menu %}
    {%  include 'layout/_panelClient.html' %}
{%  endblock %}
{% block page %}
    <div class="col-md-7">
        {% include 'messages.html' %}
        <article class="profil">
            <h3>Profil - {{ user.username }}</h3>
            <div class="col-md-offset-2 col-md-8">
                <table>
                    <tr>
                        <td class="label-details">Imię i Nazwisko:</td>
                        <td>
                            {{ user.first_name }} {{ user.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">e-mail:</td>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">telefon</td>
                        <td>
                            {%  if user.phone == None or not user.phone %}
                                brak
                            {%  else %}
                                {{ user.phone }}
                            {%  endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Adres zamieszkania:</td>
                        <td>
                            {%  if user.address == None or not user.address %}
                                brak
                            {%  else %}
                                {{ user.address }}
                            {%  endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Miasto:</td>
                        <td>
                             {%  if user.city == None or not user.city %}
                                brak
                            {%  else %}
                                {{ user.city }}
                            {%  endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-details">Poczta:</td>
                        <td>
                            {%  if user.zip_code == None or not user.zip_code %}
                                brak
                            {%  else %}
                                {{ user.zip_code }}
                            {%  endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </div>
{% endblock %}