{% extends 'base.html' %}
{% block title %} eBook - Rejestracja{% endblock %}
{% block menu %}{% endblock %}
{% block search %}{% endblock %}
{% block page %}

    <article>
        <div class="col-md-offset-4 col-md-5 panel panel-default form">
            <div class="panel-body">
                <form method="post" action="{%  url 'signUp' %}">{% csrf_token %}
                    {%  for item in form %}
                        {%  if not item.errors %}
                            <div class="form-group">
                        {%  else %}
                            <div class="form-group has-error">
                        {%  endif %}
                            <label for="{{ item.id_for_label }}">{{ item.label }}:</label>
                            {{ item }}
                            {{ item.errors }}
                        </div>
                    {%  endfor %}
                    <input type="submit" value="Zarejestruj się" class="col-md-offset-4 btn btn-success"/>
                </form>
            </div>
        </div>
    </article>
{% endblock %}