{% extends 'base.html' %}
{% block title %} eBook - Zaloguj się{% endblock %}
{% block menu %}{% endblock %}
{% block search %}{% endblock %}
{% block page %}
    <article>

        <div class="col-md-offset-4 col-md-4">
            {% include 'messages.html' %}
            <div class="panel panel-default form">
                <div class="panel-body">
                    <form method="post" action="{% url 'auth' %}">{% csrf_token %}
                        <div class="form-group">
                            <label for="login">Login:</label>
                            <input type="text" class="form-control" id="login" name="username" placeholder="Login">
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Hasło">
                        </div>

                        <input type="submit" value="Zaloguj się" class="col-md-offset-4 btn btn-success"/>
                    </form>
                </div>
            </div>
        </div>
    </article>
{% endblock %}