{% load static %}
{% load ebook_tags %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'eBook/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'eBook/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'eBook/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'eBook/css/font-awesome.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static  'eBook/js/bootstrap.min.js' %}"></script>
    {%  block js %}{%  endblock %}

</head>
<body>
<div class="body-container">
    <div class="container">
        <div class="logo">
            <h1>e Book</h1>
            <p>Książki są jak towarzystwo, które sobie człowiek dobiera</p>
        </div>
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{%  url 'home' %}">eBook</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {%  if  user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                Konto
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profil' %}">Profil</a></li>
                                <li><a href="{% url 'changePassword' %}">Zmiana hasła</a></li>
                                <li><a href="{% url 'profilAddress' %}">Dane adresowe</a></li>
                                <li><a href="{%  url 'listOrders' %}"><span class="glyphicon glyphicon-list"></span>&nbsp;Zamówienia</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'signOut' %}"><span class="glyphicon glyphicon-off"></span>&nbsp;Wyloguj się</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>

                            <a href="{% url 'showCart' %}"><span class="fa fa-shopping-cart"></span>&nbsp;Koszyk  <span class="badge">{%  cart_quantity request.session   %}</span></a>
                        </li>
                        {%  if not user.is_authenticated %}
                            <li><a href="{% url 'signIn' %}">Zaloguj</a></li>
                            <li><a href="{%  url 'signUp' %}">Rejestracja</a></li>
                        {%  endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        {%  block search %}
        <div class="search">
            <form class="form-inline" method="get" action="/search/">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł">
                    <input type="text" class="form-control" id="author" name="author" placeholder="Autor">
                </div>
                <input type="submit" class="btn btn-primary" value="Wyszukaj">
            </form>
        </div>
    {%  endblock %}
        <div class="content row">

         {%  block menu %}
            <aside class="col-md-4">

                    {%  include 'listCategories.html' %}

            </aside>
        {%  endblock %}
            <div class="page">

                {%  block page %}
                {%  endblock %}
            </div>

        </div>
    </div>
</div>
<footer>
    <p>&copy; 2017 - eBook</p>
</footer>


</body>
</html>