
{% if messages %}
    {% for message in messages %}
        {% if 'warning' in message.tags %}
            <div class="alert alert-danger">
                <strong class="{{ message.tags }}">{{ message }}</strong>
            </div>
        {% endif %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success">
                <strong class="{{ message.tags }}">{{ message }}</strong>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
