<ul class="pager">

    {% if books.has_previous %}
        {% if  url_page.1|length_is:"1" %}
            {%  if url_page.1.0 != '' %}
                <li><a href="{% url url_page.0 url_page.1.0  books.previous_page_number %}">Wstecz</a></li>
            {%  else %}
                <li><a href="{% url url_page.0  books.previous_page_number %}">Wstecz</a></li>
            {%  endif %}
        {%  elif not url_page.1|length_is:"1" %}
            <li><a href="{% url url_page.0 url_page.1.0 url_page.1.1  books.previous_page_number %}">Wstecz</a></li>
        {%  endif %}
    {%  endif %}
    {% if books.has_next  %}
        {% if  url_page.1|length_is:"1" %}
            {%  if url_page.1.0 != '' %}
                <li><a href="{% url url_page.0 url_page.1.0 books.next_page_number %}">Następny</a></li>
            {%  else  %}
                <li><a href="{% url url_page.0  books.next_page_number  %}">Następny</a></li>
            {%  endif %}
        {%  elif not url_page.1|length_is:"1" %}
            <li><a href="{% url url_page.0 url_page.1.0 url_page.1.1 books.next_page_number %}">Następny</a></li>
        {%  endif %}
    {%  endif %}

</ul>