<aside class="col-md-4">
    {%  if  user.is_authenticated %}
    <ul class="list-group">
        {%  for list in menu_user %}
            <li class="list-group-item {{ list.active }}">
                <a href="{% url list.url %}">
                    {% if list.url == 'signOut' %}
                        <span class="glyphicon glyphicon-off"></span>&nbsp;
                    {%  endif %}
                    {{ list.label }}</a>
            </li>
        {%  endfor %}

    </ul>
    {% endif %}
</aside>